<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body>
    <h1>New recipe page</h1>
    <!--  NOTE: action will be the route, method will be the HTTP verb-->
    <form action="/recipes" method="POST">
        User Id: <input type="text" name="userId"/><br/>
        Name: <input type="text" name="name"/><br/>
        Calorie: <input type="text" name="calorie"/><br/>
        Fat: <input type="text" name="fat"/><br/>
        Carb: <input type="text" name="carb"/><br/>
        Protein: <input type="text" name="protein"/><br/>
        Link: <input type="url" name="link"/><br/>
      <input type="submit" name="" value="Create recipe" />
    </form>
  </body>
</html>