html {
    height: 100%;
    width: 100%; 
    resize: both;
    overflow: hidden;
    scroll: none;
}

body {
    background-image: url("https://i.pinimg.com/originals/b0/43/c1/b043c1be7ed0d4f085e356e159250c69.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    width: 100vw;
    height: 100vh;
    overflow:auto;
  }

  h1 {
    position: absolute;
    margin-top: 0px;
    top: 1%;
    left: 25%;
    font-size: 140px;
    font-family: 'Amatic SC', cursive;
    color: darkslategray;
    text-shadow: 2px 2px 0px bisque, 3px 3px 0px #707070;
  }
  
  .recipeList {
    position: absolute;
    display: flex;
    flex-wrap: wrap; 
    top: 25%;
    left: 30%;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .groupRecipe {
    border-style: outset;
    display: inline;
    margin-right: 20px;
    padding-right: 20px;
    opacity: 0.85;
    background-color: rgba(0,0,0,0.4);
  }

  .recipeLink {
    font-weight: bold;
    font-size: 25px;
    color: bisque;
    text-decoration: none;
  }

  .recipeLink:hover {
    color: blue;
    text-decoration: underline;
  }

  .singleRecipe {
     color: white;
     font-size: 20px; 
     padding-left: 20px; 
     padding-right: 20px; 
     
  }

  .editRecipe {
    position: absolute;
    top: 30%;
    left: 35%;
    font-family: 'Amatic SC', cursive;
    font-size: 40px; 
    color: white;
    border-style:outset;
    background-color: rgba(0,0,0,0.5);
  }
  
  .editRecipe form {
    padding: 50px; 
  }

  .editFormButton {
    position: absolute;
    left: 30%;
    bottom: 3%;
    background-color: rgb(0, 51, 0);
    color: white;
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
    border-radius: 2px;
    height: 50px;
    width: 110px;
    transition: 1s;
  }
  
  .editFormButton:hover {
    background-color: rgb(0, 77, 0);
    border: lightgray solid 1px;
    cursor: pointer;
  }

  .newRecipe {
    position: absolute;
    top: 30%;
    left: 35%;
    font-family: 'Amatic SC', cursive;
    font-size: 40px; 
    color: white;
  }

  /* Style buttons */
.btn {
    background-color: rgb(0, 51, 0);; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    height: 8%;
    width: 4%;
    opacity: 0.7;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: rgb(0, 77, 0);
    border: lightgray solid 1px;
    opacity: 0.7;
    cursor: pointer;
}

.editButton {
  margin-left: 10px; 
  font-size: 10px;
  border-radius: 2px;
  height: 20px;
  width: 40px;
  transition: 0.5s;
}

.editButton:hover {
  background-color: rgb(0, 51, 0);
  color: white;
  border: lightgray solid 1px;
  cursor: pointer;
}

.editDeleteButton {
  margin-left: 10px; 
  font-size: 10px;
  border-radius: 2px;
  height: 20px;
  width: 50px;
  transition: 0.5s;
}

.editDeleteButton:hover {
  background-color:red;
  color: white;
  border: lightgray solid 1px;
  cursor: pointer;
}