html {
    height: 100%;
    width: 100%; 
    resize: both;
    overflow: hidden;
    scroll: none;
}

body {
    background-image: url("https://i.pinimg.com/originals/b0/43/c1/b043c1be7ed0d4f085e356e159250c69.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    width: 100vw;
    height: 100vh;
    overflow:auto;
  }

  h1 {
    position: absolute;
    margin-top: 0px;
    top: 1%;
    left: 25%;
    font-size: 140px;
    font-family: 'Amatic SC', cursive;
    color: darkslategray;
    text-shadow: 2px 2px 0px bisque, 3px 3px 0px #707070;
  }
  
  .recipeList {
    position: absolute;
    display: flex;
    flex-wrap: wrap; 
    top: 25%;
    left: 30%;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .groupRecipe {
    border-style: outset;
    display: inline;
    margin-right: 20px;
    padding-right: 20px;
    opacity: 0.85;
  }

  .singleRecipe {
     color: white;
     font-size: 20px; 
     padding-left: 20px; 
     padding-right: 20px; 
     
  }

  .singleRecipe::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.15);
}

  /* Style buttons */
.btn {
    background-color: rgb(0, 51, 0);; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    height: 8%;
    width: 4%;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: rgb(0, 77, 0);
    border: lightgray solid 1px;
}