<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Food For Thought</title>
    <link rel="stylesheet" href="/css/app.css" />
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <h1>Food</br> &nbsp;&nbsp;&nbsp;&nbsp; For</br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thought</br> </h1>

    <div class="headerCredentials">
      <nav class="flexHeader">
          <a href="/auth/signup">Sign Up</a>
          <a href="/auth/login">Log In</a>
          <a href="/recipes">All Recipes</button></a>
      </nav>
    </div>
  <!-- <div class="homepageImgs">
      <div class="listImgs">1</div>
      <div class="listImgs">2</div>
      <div class="listImgs">3</div>
  </div> -->
  </body>
</html>